.bestItem { padding-top:160px; text-align:center;
  @media(max-width:767px){ padding-top:80px; }
  .flexbox {
    width:100%;
    height:600px;
    display:flex;
    gap:20px;
    @media(max-width:767px){ height:auto; flex-direction:column; }
    button { padding:8px 12px; margin-top:24px; background-color:#31caae; position:relative; color:#fff; border-radius:30px; }
    > li {
      width:50%;
      height:100%;
      border-radius:10px;
      overflow:hidden;
      @media(max-width:767px){ width:100%; }
      > a {
        height:100%;
        padding-left:80px;
        background:#f7f7f7 url("../images/best01.jpg") no-repeat right -90px center/contain;
        position:relative;
        display:flex;
        align-items:center;
        // &:hover .betstsp::before, &:hover .betstsp .bestTxt { opacity:1; transition:.35s ease; }
        // &:hover .betstsp .bestTxt { transform:translate(0,0); }
        @media(max-width:767px){ padding:40px; background-image:none; justify-content:start; }
        .betstsp {
          text-align:left;
          // &::before { content:''; opacity:0; position:absolute; top:0; right:0; bottom:0; left:0; background-color:rgba(0,0,0,.45); display:block; }
          .bestTxt { position:relative; color:#222; /*color:#fff; opacity:0; transform:translate(20px,0);*/
            strong { margin-bottom:6px; font-size:22px; font-weight:600; display:block;
              @media(max-width:767px){ font-size:18px; }
            }
            p { font-size:18px; color:#666;
              @media(max-width:767px){ font-size:16px; }
            }
          }
        }
      }
    }
    .best-list { height:600px; display:flex; align-items:center; flex-wrap:wrap;
      @media(max-width:767px){ height:auto; }
      > li { width:50%; background-color:#f7f7f7; align-self:stretch; display:table;
        &:nth-child(n+2):nth-child(-n+3) .aWrap { text-align:center; }
        &:nth-child(2) { background:#fdfdfe url("../images/best02.jpg") no-repeat center/contain; }
        &:nth-child(3) { background:#fefefe url("../images/best03.jpg") no-repeat center/contain; }
        @media(max-width:767px){
          &:nth-child(n+2):nth-child(-n+3) { display:none; }
          &:last-child { border-left:1px solid #ddd; }
        }
        a { padding:0 24px 0 40px; text-align:left; position:relative; vertical-align:middle; display:table-cell; word-break:keep-all;
          @media(max-width:767px){ padding:40px 40px 100px; vertical-align:top; 
          }
          .aWrap {
            strong { margin-bottom:8px; font-size:18px; font-weight:600; display:block; }
            p { color:#666;
              @media(max-width:767px){ br { display:none; } }
            }
            @media(max-width:767px){
              button { position:absolute; bottom:40px; left:40px; }
            }
          }
        }
      }
    }
  }
}