.location-list{
  .swiper-slide {
    .info { padding:0 16px; text-align:center;
      .title { margin-top:16px; font-size:18px; }
      .desc { margin-top:4px; font-size:14px; color:#666; word-break:keep-all; }
    }
  }
}