.NewItem { background-color:#eafaf7; }
.new-list { 
  .swiper {
    .swiper-wrapper { transition-timing-function:linear; }
    .swiper-slide { padding:20px 20px 24px; background-color:#fff; box-shadow:0 8px 12px rgba(0,0,0,.05); border-radius:10px; overflow:hidden;
      .image {
        .num { padding:14px 16px 12px; line-height:1; background-color:#31caae; font-size:13px; font-weight:600; color:#fff; position:absolute; top:16px; left:16px; border-radius:8px; display:inline-block; }
      }
      .info { padding-top:4px; margin-top:16px;
        .title { font-size:16px; }
        .price { margin-top:6px; line-height:1; font-size:18px; font-weight:600; }
      }
    }
  }
}