body {
  padding: 0;
}
.p-shop .main-bg {
  height: 600px;
  /* background:transparent url(./img/prd_bg.jpg)no-repeat center/cover; */
}

.p-shop .heading {
  margin: 80px auto 40px;
  text-align: center;
}

.p-shop .heading p {
  margin-bottom: 4px;
  font-size: 14px;
  color: #666;
}

.p-shop .heading h2 {
  font-size: 26px;
  font-weight: 400;
}

.p-shop .row {
  width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.p-shop .row {
  display: flex;
  flex-wrap: wrap;
}
.p-shop .row > .col {
  width: 33.333%;
}

.p-shop .col img {
  width: 100%;
  margin-bottom: 8px;
}
.p-shop .col h4 {
  margin-top: 8px;
  font-size: 15px;
  color: #222;
  letter-spacing: -0.75px;
}
.p-shop .col h4.cate {
  color: #666;
  font-size: 13px;
}
.p-shop .col h4.price {
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 0;
}

.p-shop .today {
  padding-bottom:80px;
}

.p-shop .swiper-slide {
  border:1px solid #eee;
}

.p-shop .swiper-slide img {
  width:100%;
  display: block;
}

.p-shop .swiper-pagination {
  margin-top: 24px;
  position: relative;
}

.p-shop .swiper-button-prev,
.p-shop .swiper-button-next {
  margin-top:-48px;
  color:#222 !important;
}

.p-shop .swiper-pager span {
  width:40px;
  height:40px;
  background-color:red;
  display:inline-block;
}
.p-shop .swiper-pager .swiper-prev {}
.p-shop .swiper-pager .swiper-next {}

.p-shop .swiper-pagination-bullet {
  background-color:#240c3c !important;
}

footer {
  padding:32px 0;
  background-color:#240c3c;
  color: #b99ebe;
  border-top:1px solid #eee;
}

footer ul {
  display:flex;
}

footer .info {
  display:flex;
  justify-content: space-between;
}

footer .info .customer p {
  font-size:20px;
  letter-spacing:0;
}
footer .info .customer span {
  margin-top:2px;
  margin-bottom:12px;
  font-size:14px;
  display: block;
}

footer .info .customer a {
  padding:6px 12px 8px;
  margin-right:10px;
  background-color:#b99ebe;
  font-size:13px;
  color:#fff;
  display:inline-block;
}

footer .info .sns {
  font-size:13px;
}

footer .info .sns li {
  margin-left:12px;
}

footer .link {
  margin-top:60px;
}

footer .link li {
  text-align:center;
  margin-right:16px;
}

footer .link li a {
  font-size:13px;
  display:block;
}

footer li a:hover {
  color:#fff;
}